@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Sacrament Planner</h1>
    <a class="image" asp-area="" asp-controller="SacramentPlans" asp-action="Create"><img src="~/sacrament.png" title="sacrament tray" asp-append-version="true" /></a>
</div>
