@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Sacrament Planner</h1>
    <img src="~/sacrament.png" title="sacrament tray"  asp-append-version="true" />
</div>
