@model SacramentPlanner.Models.SacramentPlan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SacramentPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="conductingLeader" class="control-label"></label>
                <input asp-for="conductingLeader" class="form-control" />
                <span asp-validation-for="conductingLeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="openingSong" class="control-label"></label>
                <input asp-for="openingSong" class="form-control" />
                <span asp-validation-for="openingSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sacramentHymn" class="control-label"></label>
                <input asp-for="sacramentHymn" class="form-control" />
                <span asp-validation-for="sacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="firstSpeaker" class="control-label"></label>
                <input asp-for="firstSpeaker" class="form-control" />
                <span asp-validation-for="firstSpeaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="firstSpeakerSubject" class="control-label"></label>
                <input asp-for="firstSpeakerSubject" class="form-control" />
                <span asp-validation-for="firstSpeakerSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="specialMusicalNumber" class="control-label"></label>
                <input asp-for="specialMusicalNumber" class="form-control" />
                <span asp-validation-for="specialMusicalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="specialMusicalNumberName" class="control-label"></label>
                <input asp-for="specialMusicalNumberName" class="form-control" />
                <span asp-validation-for="specialMusicalNumberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="secondSpeaker" class="control-label"></label>
                <input asp-for="secondSpeaker" class="form-control" />
                <span asp-validation-for="secondSpeaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="secondSpeakerSubject" class="control-label"></label>
                <input asp-for="secondSpeakerSubject" class="form-control" />
                <span asp-validation-for="secondSpeakerSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thirdSpeaker" class="control-label"></label>
                <input asp-for="thirdSpeaker" class="form-control" />
                <span asp-validation-for="thirdSpeaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thirdSpeakerSubject" class="control-label"></label>
                <input asp-for="thirdSpeakerSubject" class="form-control" />
                <span asp-validation-for="thirdSpeakerSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="closingSong" class="control-label"></label>
                <input asp-for="closingSong" class="form-control" />
                <span asp-validation-for="closingSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
